// corrects XYPlot resizing issue
.rv-xy-plot {
  position: absolute;
  overflow: hidden;
}

.progress {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
